body {
  width: 100%;
  background: #f6f2f7;
  overflow-x: hidden;
}
/* Seccion Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C004D9;
  font-weight: bold;
  border: solid 2px;
  border-radius: 5px;
  padding-top: 5px;
  height: 150px;
}

.container_encabezado{
  display: flex;
  justify-content: center;
}

.titulo_encabezado{
padding-top: 1.5rem;
color: #f6f6f6;
font-size: 45px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo_encabezado {
  width: 15%;
  height: auto;
  margin-right: 1.5rem;
}

/*Main-Container */
.main-container{
  width: 90%;
  height: 80vh;
  padding: 1.5rem 5rem;
  display: flex;
  margin-right: 20rem;
}

/* Seccion mis productos */
.mis-productos{
  width: 70%;
  height: 50vh;
}

.products-container{
  background-color: rgb(19, 27, 27);
  width: 360px;
  height: auto;
  box-shadow: 7px 15px  15px rgba(0 ,0 , 0, 25%);

}

.card{
  border-color :rgb(186, 125, 125);
  border: solid 4px;
  border-radius: 15px;
  color: #f6f6f6;
}

h1{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  font-size: 28px;
  font-weight: 700;
  
}

.card-container--info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 2.5rem;
}

.img-container{
  padding-bottom: 0.5rem;
  width: 90%;
  height: auto;
  padding: 10px 30px;
  cursor: pointer;

}

.delete-button{
  width: 20px;
  height: 20px;
}

/* Seccion agregar productos */

.agregar-productos{
  width: 30%;
  height: auto;
}

.form-container{
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  padding: 2rem 2rem;
  box-shadow: 7px 7px 15px rgba(0 ,0 , 0, 25%);

}

input{
  padding: 1rem;
  width: 70%;
  border-radius: 20px;
  border: solid 2px;
  font-size: 20px;
  font-weight: bolder;
}

.button-container{
  display: flex;
  gap: 12rem;
}

.button-clear{
  border: solid 2px blue;
  border-radius: 15px;
  font-size: 18px;
  width: 90px;
  height: auto;
  background-color: #f6f6f6;
}

.button-submit{
  border: solid 2px #f6f6f6;
  border-radius: 15px;
  font-size: 18px;
  width: 90px;
  height: 40px;
  background-color: rgb(58, 58, 202);
  color: #f6f6f6;
}

/* Seccion Footer*/
.footer{
  background: #C004D9;
  border: solid 2px;
  border-radius: 5px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.menu-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.logo-titulo{
display: flex;
align-content: center;
align-items: center;
gap: 5px;
margin-left: 20rem;
}

.footer-autor{
  color: #f6f6f6;
  font-size: 20px;
  font-weight: 300;

}

.menu-titulo-footer{
  color: #f6f6f6;
  font-size: 30px;
  font-weight: 400;
}

.footer-logo{
  width: 12%;
  height: auto;
}

/* Seccion Responsive */
